<!-- add-article.component.html -->

<form >
    <div class="form-group">
      <label for="Prix_Unitaire_HT">Prix Unitaire HT:</label>
      <input type="number" class="form-control" id="Prix_Unitaire_HT" name="Prix_Unitaire_HT"  required>
    </div>
    <div class="form-group">
      <label for="Description">Description:</label>
      <input type="text" class="form-control" id="Description" name="Description"  required>
    </div>
    <div class="form-group">
      <label for="Quantite">Quantité:</label>
      <input type="number" class="form-control" id="Quantite" name="Quantite"  required>
    </div>
    <div class="form-group">
      <label for="Total_HT">Total HT:</label>
      <input type="number" class="form-control" id="Total_HT" name="Total_HT"  required>
    </div>
    <button type="submit" class="btn btn-primary" >Ajouter Article </button>
  </form>
  